body {
  margin-top: 0px;
  margin: auto;
}

main {
  display: flex;
  width: 900px;
  flex-wrap: wrap;
  margin: auto;
  align-items: flex-start;
}

nav {
  width: inherit;
  height: 70px;
  background: #222;
  margin: auto;
  display: flex;
  border-radius: 0px 0px 20px 0px;
}

.buttons {
  margin: auto;
  justify-content: space-around;
}



nav button {
  background: none;
  border: none;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
}

button:hover {
  color: #e8bc5d;
}

article {
  display: flex;
 padding-bottom: 40px;
}

h1, h2, blockquote {
  font-family: 'Abril Fatface', cursive;
  font-weight: normal;
}

h1, h2 {
  padding-top: 0px;
  margin: 0px;
  color: #222;
}

header {
  width: 310px;
  height: 450px;
  position: relative;
  margin-top: 0px;
  padding-right: 30px;
}



img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: 50% 0;
  padding: 0px;
  margin: 0px;
  border-radius: 0px 0px 20px 0px;
}

.analytical {
  margin-top: 10px;

}

section {
  width: 60%;
  position: absolute;
  bottom: 20px;
  left: 65px;
  height: auto;
  margin: auto;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 60px;
}




header, div, blockquote {
 margin: 0px;
}

div {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: normal;
  width: 400px;
  margin-top: 50px;
  margin-bottom: 70px;
  margin-left: 0px;
  margin-right: 0px;
  color: #222;
  line-height: 1.5;
}

div h3, h4 {
  font-weight: 900;
}

blockquote {
  width: 230px;
  height: auto;
  background: #222;
  font-size: 45px;
  color: white;
  padding: 10px 40px;
  position: relative;
  margin-right: 30px;
  border-radius: 0px 0px 20px 0px;

}

blockquote::before {
  content: '“';
  position: absolute;
  top: -35px;
  left: 0px;
  font-size: 140px;
  padding: 0px;
  margin: 0px;
}


h4 {
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-size: 15px;
  padding-top: 0px;
  margin-top: -25px;
}

.bigletter {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: 40px;
}

.line {
  border-top: 4px solid #222;
  padding: 0px;
  margin-bottom: 0px;
  width: 70%;
}

ul {
  list-style-type: square;
}